/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: hsl(0, 0%, 10%);
	--global-font-family: "Fira Sans", sans-serif;
	--global-font-size: 20;
	--global-font-line-height: 1.4;
	--highlight-font-family: "Fira Sans", sans-serif;
	--content-width: 70rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: #2c3d58;
	--color-theme-secondary: #408590;
	--color-theme-highlight-green: #84c1b5;
	--color-theme-green: #459482;
	--color-theme-black: #010203;
	--color-theme-grey: #463e40;
	--color-theme-light-grey: #f5f5f5;


	--color-link: hsl(217, 33%, 26%);
	--color-link-visited: hsl(217, 33%, 16%);
	--color-link-active: hsl(217, 33%, 36%);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
