/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	padding: 2em;
	font-family: var(--highlight-font-family);
	color: #fff;
	background: var(--color-theme-primary);
}

.site-footer a {
	color: #fff;
}

.site-footer__widgets {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 22rem));
	grid-gap: 2rem;
	justify-content: center;
}

.site-footer__widgets .widget-title {
	font-weight: 400;
}

.site-info {
	text-align: center;
}
